@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br/>
<br />
<br />
<br />

<div class="container">
    <h1>Please Check your User Name or Password  </h1>


    <h3 class="btn login-button-2 text-uppercase text-wh"> @Html.ActionLink("Back to Main", "Index", "Home") </h3>

</div>