@{
    ViewBag.Title = "About";
}

<div class="container">
    <h1>ABOUT FARO VIETNAM</h1>
    <p>With more than 10 years of establishment and operation, Faro Vietnam is recognized as a leading reputable human resources service provider in Vietnam. Clients are satisfied with Faro Vietnam is not only due to the premier quality of services but also the added on support that are beyond than the scope of services they engaged.</p>
    <hr />

    <h1>OUR MISSION</h1>
    <p>The aim of the Company is to support the Client at most that helps clients free mind and free hands in dealing with all human resources matters.</p>
    <hr />
    <h1>OUR EXPERIENCE</h1>

    <p>We are proud of our professional management team, who have such a deep knowledge and experience that highly committed to deliver comprehensive and flexible HR solutions tailored to clients’local market needs.</p>

    <hr />
    <h1>FARO VIETNAM CONSULTANT TEAM</h1>

    <p>
        With a team of extensive experience consultants who always serve clients with more than 100% of dedication and well understanding of Vietnamese market and legislation, Faro Vietnam is committed to providing the practical and compliant human resources advices and solutions to the clients in the professional manner. It is helping clients free mind and free hands in dealing with human resources matters in the frequent change business environment like Vietnam.

    </p>

    <hr />
    <img src="~/Img/ok.jpg" />
    <hr />
</div>