@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="~/Img/Payroll.jpg" width="1000px" />
</div>

<div class="row" style="color:white;">
    <div class="col-md-4">
        <h2>Administrator Service</h2>
        <p>
            Enhanced by a new model HR Solution Software with employee self-service function, services delivered by our expertise payroll consultants has been recognized as the PREMIUM QUALITY ONE in the market.

            Our payroll administration service helps you to relieve the unbearable administration burden. We guarantee to provide you most privileged practice service performance.
        </p>

        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staffing Solution </h2>
        <p>
            We take over the legal liabilities and responsibilities as the contractual employer of the staff. Our service is optimal for Clients who have limitation in regular head-count or direct hiring.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Executive Search and Selection </h2>
        <p>
            Our EXECUTIVE SEARCH AND SELECTION service is a PERFECT COMBINATION between in-depth consulting with worldwide search capability and digital sourcing technologies.

            We carefully study, deeply understand and translate your requirements into a search and selection blueprint.  These are fully comprehensive process, ensuring the best technical and cultural fit on every assignment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>