
@{
    ViewBag.Title = "PrivacyPolicy";
}

<h1>Privacy Policy and  Term and Condition </h1>

<h2>Terms & Conditions </h2>
<p>
    <b>Acceptance of Terms & Conditions</b><br />
    Please read the Terms & Conditions carefully before accessing and using the farorecruitmen.com.vn website (hereinafter called the "Faro Vietnam Website"). By accepting the Terms & Conditions, you agree to abide by the rules governing the use of services offered by the Faro Vietnam Website. If you have any questions about this agreement, please contact us via e-mail at service.vn@farorecruitment.com
    <br />
    To have the full use of services offered on the Website, you need to sign up to create an account and provide Faro Vietnam Website with certain personal information including but not limited to your email address for further communications between you and Faro Vietnam Website. By signing up, you agree to receive our newsletters, emails and other communications about our jobs or services. Whenever you wish not to receive them you can notify us with immediate effect by checking the unsubscribing function available on Faro Vietnam Website or at the bottom of our emails. Any your personal information that you submit will be treated in accordance with the Privacy Policy of Faro Vietnam Website.
    <b>User Rights and Responsibilities</b><br />
    Access to the Faro Vietnam Website, you are responsible for providing yourself with all hardware, software, telephone or other communications equipment and/or service to connect to the Internet and access the Faro Vietnam Website as well as all Internet access charges, telephone charges or other fees or charges incurred in connecting to the Internet and accessing the Faro Vietnam Website.
    <br />
    User Conduct. By using the Faro Vietnam Services and accessing the Faro Vietnam Website, you understand that it is prohibited to:
    <br/>
    <ul>
        <li>Protest the State of Vietnam, destroy the unity of the nation, propagandize, distort, provoke or provide information against Vietnamese Government;</li>
        <li>Provoke violation, war, aggression among nations and people, excite obscene, depravation, crime, social evils or superstition, ruin the nation's traditions and customs;</li>
        <li>Disclose state secretes, military, security, economic, external relation and other secrets provided for by the laws;</li>
        <li>Distort, slander, libel or offend the prestige of entities, the honor, dignity or prestige of individuals;</li>
        <li>Introduce and propagate products and services prohibited by the laws;</li>
        <li>Mention issues related to the politics and religions;</li>
        <li>Use uncultured words that violate code of ethics and traditional culture of Vietnam;</li>
        <li>Restrict or inhibit any other User/Customer from using and enjoying the Interactive Features;</li>
        <li>Post or transmit any unlawful, threatening, abusive, libelous, defamatory, obscene, vulgar, pornographic, profane, or indecent information of any kind, including without limitation any transmissions constituting or encouraging conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any local, state, national, or international law;</li>
        <li>Post or transmit any information, software, or other material which violates or infringes in the rights of others, including material which is an invasion of privacy or publicity rights or which is protected by copyright, trademark or other proprietary right, or derivative works with respect thereto, without first obtaining permission from the owner or right holder;</li>
    </ul>



</p>
